@font-face {
    font-family: "Blackletter";
    src: url("https://magentahardcore.com/imgsAssets/fonts/TexturaLiberaX-Black.woff") format('woff');
}

@font-face {
    font-family: "IBM";
    src: url("https://magentahardcore.com/imgsAssets/fonts/ibm.woff") format('woff');
}

@font-face {
  font-family: "Bamum";
  src: url("https://magentahardcore.com/imgsAssets/fonts/bamum.woff") format('woff');
}

.aligncenter {
    text-align: center;
}

hr{
    color: #0000ff;
    border: 1px solid;
    border-color: #0000ff;
    margin: 1%;
}

hr.footer{
    margin: auto 100px
}

body{
    background: #000000;
    background-image: url("/imgsAssets/cryptleft.png"), url("/imgsAssets/cryptright.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left, right;
    font-family: IBM;
    font-size: 16px;
    color: #9000ff;
    max-width: 900px;
    margin: auto;
}

@media (max-width: 1200px) {
    body {
        background-image: none;
    }
}

a{
    text-decoration: none;
    color: #f77e00;
}

a:hover {
    padding: 1px;
    border: 1px solid #f77e00;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #0000ff;
}

pre{
    background: black;
}

.back{
  text-align: right;
}

.src .example{
    background: black;
}

.title{
    font-family: Blackletter;
    font-size: 70px;
/*    padding-bottom: 50px; */
    text-align: left;
}

.subtitle {
    font-family: "Bamum";
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
}

.header{
    line-height: 1em;
    display: flex;
    flex-flow: row;
}

.header .header-heading{
    padding-top: 45px;
    padding-bottom: 9px;
    font-size: 54px;
    color: #0000ff;
    font-family: Blackletter;
}

.header .header-subheading{
    color: #0000ff;
    font-family: Bamum;
}

.header-subheading {
    margin-top: 0;
    margin-bottom: 0;
}

.site-title {
    display: flex;
    flex-flow: column;
}

.site-logo {
    display: flex;
    margin-left: auto;
    align-items: center;
    text-align: right;
    font-size: 13px;
}

@media (max-width: 800px) {
    .header {
        flex-flow: column;
    }
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 72vh;
}

.footer{
    display: flex;
    color: #ffffff;
    flex-flow: column;
    text-align: left;
    align-items: center;
    margin: auto auto 0 auto;
}

.footer .footer-meta{
    position: fixed;
    font-size: 13px;
    bottom: 5%;
}

.footer .footer-img{
    position: fixed;
    bottom: 0%;
}

.content {
    font-family: IM-Fell-Eng;
    font-size: 1.2em;
    color: #e371a4;
}

#preamble {
    padding-bottom: 10px;
}

#logo {
    height: 120px;
    width: 111px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

::selection {
  background: #9000ff; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: #9000ff; /* Gecko Browsers */
  color: black;
}